.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px 20px;
    background-color: #ffffff;
    text-align: top;
  }
  
  .project {
    background-color: #FFF2D8;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(188, 163, 127, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project:hover {
    transform: translateY(-5px) scale(1.001);
    box-shadow: 0 20px 40px rgba(188, 163, 127, 0.2);
  }
  
  .project h2 {
    font-size: 1.8rem;
    margin-bottom: 0px;
    color: #113946;
  }
  
  .project p{
    font-size: 1rem;
    color: #113946;
    align-content: left;
  }
  
  
  .project li {
    font-size: 1rem;
    color: #113946;
    align-content: left;
    text-align: left;
  }
  
  .project a {
    color: #BCA37F;
    font-weight: 600;
  }
  
  .project a:hover {
    color: #113946;
    text-decoration: underline;
  }